* {
    font-family: Montserrat, sans-serif;
}
body {
    background: #1f2833;
}
#FaqBody {
    color: #66fcf1;
    padding-top: 10px;
    text-align:center;
    
}
.lb-text {
    color: #66fcf1;
}
#subHeader {
    text-align:center;
    padding-top: 50px;
}
#subHeader-text {
    text-align:center;
    padding-top: 15px;
}
@keyframes motion {
    0.000% { left: 15%; top: 6vh; }
    40%{ left: 85%; top: 90%; }
    50% { left: 96%; top: 75%; }
    90%{ left: 0%; top: 15%; }
    100.0% { left: 15%; top: 6vh; }
}
html, body {
    position: absolute;
    width: 100%; height: 100%;
    left: 0; top: 0;
    margin: 0; padding: 0;
}
.point {
    position: absolute;
    width: 80px; /*height: 20px;*/
    margin-left: -10px; margin-top: -10px;
    animation: motion 5000ms infinite linear;
}
