
{% extends 'nav.html' %}

{% block css %}
<link rel="stylesheet" href="./static/css/cpuprogram.css">
<script src="./static/js/cpuprogram.js"></script>
<title>CPU Programming</title>
{% endblock %}

{% block content %}
<h1 id="main-header">CPU Programming</h1>
<div>
  <div id="left-div">
    <h3 id="position-label">Your position in queue: N/A</h3>
    <div id="program-input-div">
      <h3 id="program-input-header">Program Input</h3>
       <p id="success" hidden>Successfully submitted!</p>
      <p id="failure" hidden>Failure to submit. Please try again later</p>
      <p id="invalid" hidden>Invalid input given. Please check inputs</p>
      <form id="input-form" action="./api/new-program" method="post">
      <table id="input-table">
	<tr>
	  <th>Address</th>
	  <th>Operation</th>
	  <th>Value</th>
	</tr>
	<tr>
	  <td>0000</td>
	  <td><input type="text" id="" name="0in" onkeyup="program_input_check('0in')"></td>
	  <td><input type="text" id="" name="0val" onkeyup="value_input_check('0val')"></td>
	</tr>
	<tr>
	  <td>0001</td>
	  <td><input type="text" id="" name="1in" onkeyup="program_input_check('1in')"></td>
	  <td><input type="text" id="" name="1val" onkeyup="value_input_check('1val')"></td>
	</tr>
	<tr>
	  <td>0010</td>
	  <td><input type="text" id="" name="10in" onkeyup="program_input_check('10in')"></td>
	  <td><input type="text" id="" name="10val" onkeyup="value_input_check('10val')"></td>
	</tr>
	<tr>
	  <td>0011</td>
	  <td><input type="text" id="" name="11in" onkeyup="program_input_check('11in')"></td>
	  <td><input type="text" id="" name="11val" onkeyup="value_input_check('11val')"></td>
	</tr>
	<tr>
	  <td>0100</td>
	  <td><input type="text" id="" name="100in" onkeyup="program_input_check('100in')"></td>
	  <td><input type="text" id="" name="100val" onkeyup="value_input_check('100val')"></td>
	</tr>
	<tr>
	  <td>0101</td>
	  <td><input type="text" id="" name="101in" onkeyup="program_input_check('101in')"></td>
	  <td><input type="text" id="" name="101val" onkeyup="value_input_check('101val')"></td>
	</tr>
	<tr>
	  <td>0110</td>
	  <td><input type="text" id="" name="110in" onkeyup="program_input_check('110in')"></td>
	  <td><input type="text" id="" name="110val" onkeyup="value_input_check('110val')"></td>
	</tr>
	<tr>
	  <td>0111</td>
	  <td><input type="text" id="" name="111in" onkeyup="program_input_check('111in')"></td>
	  <td><input type="text" id="" name="111val" onkeyup="value_input_check('111val')"></td>
	</tr>
	<tr>
	  <td>1000</td>
	  <td><input type="text" id="" name="1000in" onkeyup="program_input_check('1000in')"></td>
	  <td><input type="text" id="" name="1000val" onkeyup="value_input_check('1000val')"></td>
	</tr>
	<tr>
	  <td>1001</td>
	  <td><input type="text" id="" name="1001in" onkeyup="program_input_check('1001in')"></td>
	  <td><input type="text" id="" name="1001val" onkeyup="value_input_check('1001val')"></td>
	</tr>
	<tr>
	  <td>1010</td>
	  <td><input type="text" id="" name="1010in" onkeyup="program_input_check('1010in')"></td>
	  <td><input type="text" id="" name="1010val" onkeyup="value_input_check('1010val')"></td>
	</tr>
	<tr>
	  <td>1011</td>
	  <td><input type="text" id="" name="1011in" onkeyup="program_input_check('1011in')"></td>
	  <td><input type="text" id="" name="1011val" onkeyup="value_input_check('1011val')"></td>
	</tr>
	<tr>
	  <td>1100</td>
	  <td><input type="text" id="" name="1100in" onkeyup="program_input_check('1100in')"></td>
	  <td><input type="text" id="" name="1100val" onkeyup="value_input_check('1100val')"></td>
	</tr>
	<tr>
	  <td>1101</td>
	  <td><input type="text" id="" name="1101in" onkeyup="program_input_check('1101in')"></td>
	  <td><input type="text" id="" name="1101val" onkeyup="value_input_check('1101val')"></td>
	</tr>
	<tr>
	  <td>1110</td>
	  <td><input type="text" id="" name="1110in" onkeyup="program_input_check('1110in')"></td>
	  <td><input type="text" id="" name="1110val" onkeyup="value_input_check('1110val')"></td>
	</tr>
	<tr>
	  <td>1111</td>
	  <td><input type="text" id="" name="1111in" onkeyup="program_input_check('1111in')"></td>
	  <td><input type="text" id="" name="1111val" onkeyup="value_input_check('1111val')"></td>
	</tr>
	<tr>
	  <td></td>
	  <td id="submit-container">
	    <input type="submit" value="Submit" name="submit" id="submitButton">
	  </td>
	  <td></td>
	</tr>
      </table>
     
      </form>
      
    </div>
  </div>
  <div id="right-div">
    <div id="stream-div">
      <iframe src="https://www.youtube.com/embed/live_stream?channel=UCdBndilBv1RCBoUuH-eYNmw" frameborder="0" allowfullscreen></iframe>
    </div>
    <div id="current-program-div">
      <h2 id="current-program-header">Current Program:</h2>
      <table>
	<tr>
	  <td class="cp_table_td" id="cp0ad"></td>
	  <td class="cp_table_td" id="cp0in">None</td>
	  <td class="cp_table_td" id="cp0val"></td>
	</tr>
	<tr>
	  <td class="cp_table_td" id="cp1ad"></td>
	  <td class="cp_table_td" id="cp1in"></td>
	  <td class="cp_table_td" id="cp1val"></td>
	</tr>
	<tr>
	  <td class="cp_table_td" id="cp10ad"></td>
	  <td class="cp_table_td" id="cp10in"></td>
	  <td class="cp_table_td" id="cp10val"></td>
	</tr>
	<tr>
	  <td class="cp_table_td" id="cp11ad"></td>
	  <td class="cp_table_td" id="cp11in"></td>
	  <td class="cp_table_td" id="cp11val"></td>
	</tr>
	<tr>
	  <td class="cp_table_td" id="cp100ad"></td>
	  <td class="cp_table_td" id="cp100in"></td>
	  <td class="cp_table_td" id="cp100val"></td>
	</tr>
	<tr>
	  <td class="cp_table_td" id="cp101ad"></td>
	  <td class="cp_table_td" id="cp101in"></td>
	  <td class="cp_table_td" id="cp101val"></td>
	</tr>
	<tr>
	  <td class="cp_table_td" id="cp110ad"></td>
	  <td class="cp_table_td" id="cp110in"></td>
	  <td class="cp_table_td" id="cp110val"></td>
	</tr>
	<tr>
	  <td class="cp_table_td" id="cp111ad"></td>
	  <td class="cp_table_td" id="cp111in"></td>
	  <td class="cp_table_td" id="cp111val"></td>
	</tr>
	<tr>
	  <td class="cp_table_td" id="cp1000ad"></td>
	  <td class="cp_table_td" id="cp1000in"></td>
	  <td class="cp_table_td" id="cp1000val"></td>
	</tr>
	<tr>
	  <td class="cp_table_td" id="cp1001ad"></td>
	  <td class="cp_table_td" id="cp1001in"></td>
	  <td class="cp_table_td" id="cp1001val"></td>
	</tr>
	<tr>
	  <td class="cp_table_td" id="cp1010ad"></td>
	  <td class="cp_table_td" id="cp1010in"></td>
	  <td class="cp_table_td" id="cp1010val"></td>
	</tr>
	<tr>
	  <td class="cp_table_td" id="cp1011ad"></td>
	  <td class="cp_table_td" id="cp1011in"></td>
	  <td class="cp_table_td" id="cp1011val"></td>
	</tr>
	<tr>
	  <td class="cp_table_td" id="cp1100ad"></td>
	  <td class="cp_table_td" id="cp1100in"></td>
	  <td class="cp_table_td" id="cp1100val"></td>
	</tr>
	<tr>
	  <td class="cp_table_td" id="cp1101ad"></td>
	  <td class="cp_table_td" id="cp1101in"></td>
	  <td class="cp_table_td" id="cp1101val"></td>
	</tr>
	<tr>
	  <td class="cp_table_td" id="cp1110ad"></td>
	  <td class="cp_table_td" id="cp1110in"></td>
	  <td class="cp_table_td" id="cp1110val"></td>
	</tr>
	<tr>
	  <td class="cp_table_td" id="cp1111ad"></td>
	  <td class="cp_table_td" id="cp1111in"></td>
	  <td class="cp_table_td" id="cp1111val"></td>
	</tr>
      </table>
    </div>
  </div>
  
</div>
{% endblock %}
