{% extends 'nav.html' %}

{% block css %}
<link rel="stylesheet" href="./static/css/cpuprogram.css">
<title>CPU Programming</title>
{% endblock %}

{% block content %}
<h1 id="main-header">CPU Programming</h1>
<div>
  <div id="left-div">
    <h3>Your position in queue: N/A</h3>
    <div id="program-input-div">
      <h3 id="program-input-header">Program Input</h3>
      <form>
      <table id="input-table">
	<tr>
	  <th>Address</th>
	  <th>Operation</th>
	  <th>Value</th>
	</tr>
	<tr>
	  <td>0000</td>
	  <td><input type="text" id="" name=""></td>
	  <td><input type="text" id="" name=""></td>
	</tr>
	<tr>
	  <td>0001</td>
	  <td><input type="text" id="" name=""></td>
	  <td><input type="text" id="" name=""></td>
	</tr>
	<tr>
	  <td>0010</td>
	  <td><input type="text" id="" name=""></td>
	  <td><input type="text" id="" name=""></td>
	</tr>
	<tr>
	  <td>0011</td>
	  <td><input type="text" id="" name=""></td>
	  <td><input type="text" id="" name=""></td>
	</tr>
	<tr>
	  <td>0100</td>
	  <td><input type="text" id="" name=""></td>
	  <td><input type="text" id="" name=""></td>
	</tr>
	<tr>
	  <td>0101</td>
	  <td><input type="text" id="" name=""></td>
	  <td><input type="text" id="" name=""></td>
	</tr>
	<tr>
	  <td>0110</td>
	  <td><input type="text" id="" name=""></td>
	  <td><input type="text" id="" name=""></td>
	</tr>
	<tr>
	  <td>0111</td>
	  <td><input type="text" id="" name=""></td>
	  <td><input type="text" id="" name=""></td>
	</tr>
	<tr>
	  <td>1000</td>
	  <td><input type="text" id="" name=""></td>
	  <td><input type="text" id="" name=""></td>
	</tr>
	<tr>
	  <td>1001</td>
	  <td><input type="text" id="" name=""></td>
	  <td><input type="text" id="" name=""></td>
	</tr>
	<tr>
	  <td>1010</td>
	  <td><input type="text" id="" name=""></td>
	  <td><input type="text" id="" name=""></td>
	</tr>
	<tr>
	  <td>1011</td>
	  <td><input type="text" id="" name=""></td>
	  <td><input type="text" id="" name=""></td>
	</tr>
	<tr>
	  <td>1100</td>
	  <td><input type="text" id="" name=""></td>
	  <td><input type="text" id="" name=""></td>
	</tr>
	<tr>
	  <td>1101</td>
	  <td><input type="text" id="" name=""></td>
	  <td><input type="text" id="" name=""></td>
	</tr>
	<tr>
	  <td>1111</td>
	  <td><input type="text" id="" name=""></td>
	  <td><input type="text" id="" name=""></td>
	</tr>
	<tr>
	  <td></td>
	  <td id="submit-container">
	    <input type="submit" value="Submit">
	  </td>
	  <td></td>
	</tr>
      </table>
      </form>
    </div>
  </div>
  <div id="right-div">
    <div id="stream-div">
      <iframe src="https://www.youtube.com/embed/live_stream?channel=UCdBndilBv1RCBoUuH-eYNmw" frameborder="0" allowfullscreen></iframe>
    </div>
    <div id="current-program-div">
      <h2 id="current-program-header">Current Program:</h2>
      <table>
	<tr>
	  <td></td>
	  <td>None</td>
	  <td></td>
	</tr>
	<tr>
	  <td></td>
	  <td></td>
	  <td></td>
	</tr>
	<tr>
	  <td></td>
	  <td></td>
	  <td></td>
	</tr>
	<tr>
	  <td></td>
	  <td></td>
	  <td></td>
	</tr>
	<tr>
	  <td></td>
	  <td></td>
	  <td></td>
	</tr>
	<tr>
	  <td></td>
	  <td></td>
	  <td></td>
	</tr>
	<tr>
	  <td></td>
	  <td></td>
	  <td></td>
	</tr>
	<tr>
	  <td></td>
	  <td></td>
	  <td></td>
	</tr>
	<tr>
	  <td></td>
	  <td></td>
	  <td></td>
	</tr>
	<tr>
	  <td></td>
	  <td></td>
	  <td></td>
	</tr>
	<tr>
	  <td></td>
	  <td></td>
	  <td></td>
	</tr>
	<tr>
	  <td></td>
	  <td></td>
	  <td></td>
	</tr>
	<tr>
	  <td></td>
	  <td></td>
	  <td></td>
	</tr>
	<tr>
	  <td></td>
	  <td></td>
	  <td></td>
	</tr>
	<tr>
	  <td></td>
	  <td></td>
	  <td></td>
	</tr>
	
      </table>
    </div>
  </div>
  
</div>
{% endblock %}
