{% extends 'nav.html' %}
{% block css %}
<title>Faq</title>

<link rel="stylesheet" href="./static/css/faq.css"/> 
{% endblock %} 
{% block content %}
<div style="height:94vh;margin-top:6vh">
  <div class="x">
    <img class="y" src="./static/img/ben.jpeg" style="width:75px;height:100px">
  </div>
  <div class="x" style="margin-top:-11vh;animation: x 7s linear infinite alternate">
    <img class="y" src="./static/img/unnamed.jpeg" style="animation: y 4s linear infinite alternate;width:75px;height:100px">
  </div>
  <div class="x" style="margin-top:-11vh;animation: x 3s linear infinite alternate">
    <img class="y" src="./static/img/Sean.jpeg" style="animation: y 2s linear infinite alternate;width:75px;height:100px">
  </div>
</div>
<div style="margin-top:-94vh;position:relative">
  <h1 id="FaqBody" style="margin-top:5%">FAQ Page</h1>
  <div>
    <div> 
      <h2 id="subHeader" class="lb-text">  What goes into the inputs? </h2>
      <h3 id="subHeader-text" class="lb-text"> The inputs have to be in binary and they can be from 0 to 1111 </h3>
    </div>
    <div> 
      <h2 id="subHeader" class="lb-text"> What is the point of the stream? </h2>
      <h3 id="subHeader-text" class="lb-text"> The point of the Stream is to give the user a view of the cpu as it works with your inputs <div> 
	</div>
	<div> 
      <h2 id="subHeader" class="lb-text"> Do you always have to start with an LDA? </h2>
      <h3 id="subHeader-text" class="lb-text"> No you do not have to start with an LDA to make an input <div> 
    </div>
    <div> 
      <h2 id="subHeader" class="lb-text"> Did Drew Drew this? </h2>
      <h3 id="subHeader-text" class="lb-text"> This is for real facts on god! </h3>
    </div>
  </div>
</div>
{% endblock %}
