{% extends 'nav.html' %}
{% block css %}
<title>Faq</title>

<link rel="stylesheet" href="./static/css/faq.css"/> 
{% endblock %} 
{% block content %}
<div style="height:94vh;margin-top:6vh">
  <div class="x" style="z-index:0">
    <img class="y" src="./static/img/ben.jpeg" style="width:75px;height:100px">
  </div>
</div>
<div style="margin-top:-94vh">
  <h1 id="FaqBody" style="margin-top:5%">FAQ Page</h1>
  <div>
    <div> 
      <h2 id="subHeader" class="lb-text"> Did Drew Drew this? </h2>
      <h3 id="subHeader-text" class="lb-text"> This is for real facts on god! </h3>
    </div>
    <div> 
      <h2 id="subHeader" class="lb-text"> Did Drew Drew this? </h2>
      <h3 id="subHeader-text" class="lb-text"> This is for real facts on god! </h3>
    </div>
  </div>
</div>
{% endblock %}
