{% extends 'nav.html' %}
{% block css %}
<title>Faq</title>

<link rel="stylesheet" href="./static/css/faq.css"/> 
{% endblock %} 
{% block content %}

<h1 id="FaqBody">FAQ Page</h1>
<!--<div>-->
  <marquee  behavior="scroll" direction="left" scrollamount="100">     
    <img src="./static/img/ben.jpeg" style="width:25px;" >
    </marquee>
 <!-- </div> -->
<div>
  <div> 
    <h2 id="subHeader" class="lb-text"> Did Drew Drew this? </h2>
    <h3 id="subHeader-text" class="lb-text"> This is for real facts on god! </h3>
  </div>
  <div> 
    <h2 id="subHeader" class="lb-text"> Did Drew Drew this? </h2>
    <h3 id="subHeader-text" class="lb-text"> This is for real facts on god! </h3>
    </div>
</div>
{% endblock %}
