{% extends 'nav.html' %}

{% block css %}
<title>CPUs And How They Work</title>
<link rel="stylesheet" href="./static/css/index.css"/>
{% endblock %}

{% block content %}
<div id="top-container">
  <div class="blurred" id="top-text-container">
    <h1 class="lb-text">CPUs And How They Work</h1>
    <h2 class="lb-text">An Interactive Guide</h2>
    <p class="lb-text">Made by:</p>
    <p class="lb-text">Cooper Christenson</p>
    <p class="lb-text">Drew Eldridge</p>
    <p class="lb-text">Sean Ropp</p>
  </div>
 
</div>
<div id="mid-container">
  <h1 class="lb-text" id="mid-header">Instructions</h1>
  <div id="info-text-container">
    <p class="lb-text text-center" style="margin-left:10vw;margin-right:10vw"> Firstly, read both of the "How It Works" pages, "How 8 Bit CPUs Work" and "How Do CPUs Work". After reading this pages you can go to either the "Live View" page if you just want to watch others input commands or to the "CPU Programming" page if you want to input commands. Once there make sure to input commands in a logical sense and only set binary values in the value box up to 1111. Once input a command, watch as your command sequence displays on the right, NOP displaying for all of the locations not used. Watch as the stream displays the CPUs response to your commands and enjoy! </p>
    </div>
  <h1 class="lb-text" id="mid-header" style ="margin-top:5vh">How This Guide Works</h1>
  <div id="info-text-container">
    <div class="float-left mid-info-container">
      <h2 class="lb-text text-center">Informative Articles</h2>
      <p class="lb-text text-center" id="left-info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed libero enim sed faucibus turpis in eu. Congue quisque egestas diam in. Ridiculus mus mauris vitae ultricies leo. Id volutpat lacus laoreet non. Neque viverra justo nec ultrices dui sapien eget. Fames ac turpis egestas integer eget. Semper auctor neque vitae tempus quam pellentesque nec nam aliquam. Sit amet facilisis magna etiam tempor orci eu lobortis. Arcu dui vivamus arcu felis. Nulla pharetra diam sit amet nisl suscipit. Id semper risus in hendrerit gravida rutrum.</p>
    </div>
    <div class="float-right mid-info-container">
      <h2 class="lb-text text-center">Interactive Programming</h2>
      <p class="lb-text text-center" id="right-info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed libero enim sed faucibus turpis in eu. Congue quisque egestas diam in. Ridiculus mus mauris vitae ultricies leo. Id volutpat lacus laoreet non. Neque viverra justo nec ultrices dui sapien eget. Fames ac turpis egestas integer eget. Semper auctor neque vitae tempus quam pellentesque nec nam aliquam. Sit amet facilisis magna etiam tempor orci eu lobortis. Arcu dui vivamus arcu felis. Nulla pharetra diam sit amet nisl suscipit. Id semper risus in hendrerit gravida rutrum.</p>
    </div>
  </div>
</div>
  <div id="about-us-div">
    <h1 class="lb-text text-center">About Us:</h1>
    <h2 class="lb-text text-center">Drew Drew This Incorporation</h2>
    <div id="name-div">
      <h3 class="lb-text name">Cooper Christenson</h3>
      <h3 class="lb-text name">Drew Eldridge</h3>
      <h3 class="lb-text name">Sean Ropp</h3>
    </div>
    <p class="lb-text text-center" id="about-us-text"> What we are about to state is entirely fact and as sean would say “on god” (though with the recent absence of him due to our doing that saying is quite ironic). We are deeply humble and intelligent high school students with an extremely in depth and rich resume. Firstly we have single handed overthrown god and have taken our rightful place atop the universe. Sean and the rest of us actually control every piece of code that is every written and we have already written all the code that ever will be built. We all actually have graduated from every college ever throughout our 8000 year lifespan where we have accumulated every skill there is to utilize.
    </p>
    
  </div>
  {% endblock %}
  
